<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Orders
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="users"></span>
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="bar-chart-2"></span>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="layers"></span>
              Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file-text"></span>
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Monitor Principal</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-secondary" id="exportChart">Exportar</button>
          </div>

          <div class="dropdown">
            <button type="button" class="btn btn-outline-success dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa-solid fa-calendar"></i>
               {{title2}}
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item {{btnStatus.btn1}}" href="/app/monitor/w">Ultimos 7 Dias</a>
            <a class="dropdown-item {{btnStatus.btn2}}" href="/app/monitor/m">Ultimos 12 Meses</a>
            <a class="dropdown-item {{btnStatus.btn3}}" href="/app/monitor/h">Ultimas 24 Horas</a>
            <a class="dropdown-item {{btnStatus.btn4}}" href="/app/monitor/mn">Ultimas 24 Horas Por Minuto</a>
            </div> 

          </div>
          
          <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.reload();">
            <i class="fa-solid fa-arrows-rotate"></i>
            Actualizar
          </button>
        </div>
      </div>

      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

      <h2>Datos: </h2>
      
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>{{title}}</th>
              <th>ºC<i class="fa-solid fa-temperature-three-quarters"></i></th>
              <th>Hum<i class="fa-solid fa-droplet"></i></th>
              <th>Lum<i class="fa-solid fa-sun-plant-wilt"></i></th>
              <th>pH<i class="fa-solid fa-plant-wilt"></i></th>
              <th>Inv<i class="fa-solid fa-house-signal"></i></th>
              <th>Tiempo<i class="fa-solid fa-clock-rotate-left"></i></th>
            </tr>
          </thead>
          <tbody>
            {{#each rows}}
                <tr>
                <td>{{Date}}</td>
                <td>{{temp}}</td>
                <td>{{hum}}</td>
                <td>{{lum}}</td>
                <td>{{pH}}</td>
                <td>{{inv}}</td>
                <td>{{timeago measured_at}}</td>
                </tr>
            {{else}}
                <p>No infor to show</p>
            {{/each}}    
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let labels = [];
  {{#each labels}}
    labels.push('{{this}}');
  {{/each}}
  const title = '{{title}}';


  const ctx = document.getElementById('myChart');

  const data = {
    labels: labels,
    datasets: [
      {
        label: 'Temp ºC',
        data: [{{temp}}],
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.5)',
        yAxisID: 'y',
      },
      {
        label: 'Hum',
        data: [{{hum}}],
        borderColor: 'rgb(0, 191, 255)',
        backgroundColor: 'rgba(0, 191, 255, 0.5)',
        yAxisID: 'y1',
      },
      {
        label: 'Lum',
        data: [{{lum}}],
        borderColor: 'rgb(255, 234, 0)',
        backgroundColor: 'rgba(255, 234, 0, 0.5)',
        yAxisID: 'y2',
      },
      {
        label: 'pH',
        data: [{{pH}}],
        borderColor: 'rgb(173, 255, 47)',
        backgroundColor: 'rgba(173, 255, 47, 0.5)',
        yAxisID: 'y2',
      }
    ]
  };


  const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    interaction: {
      mode: 'index',
      intersect: false,
    },
    stacked: false,
    plugins: {
      title: {
        display: true,
        text: 'Resumen Global'
      }
    },
    scales: {
      y: {
        type: 'linear',
        display: true,
        position: 'left',

        grid: {
          drawOnChartArea: false
        }
      },
      y1: {
        type: 'linear',
        display: true,
        position: 'right',

        // grid line settings
        grid: {
          drawOnChartArea: false, // only want the grid lines for one axis to show up
        }
      },
      y2: {
        type: 'linear',
        display: true,
        position: 'right',

        // grid line settings
        grid: {
          drawOnChartArea: false 
        }
      }, 
      y3: {
        type: 'linear',
        display: true,
        position: 'right',

        // grid line settings
        grid: {
          drawOnChartArea: false 
        }
      }
    }
  },
};
  let chart = new Chart(ctx, config);
  let btnDownload = document.getElementById("exportChart");
  btnDownload.addEventListener("click", function () {
    const dataURI = chart.toBase64Image();
    
    const a = document.createElement('a');
    a.href = dataURI;
    a.download = 'grafico.png';

    // Trigger the download    
    a.click();

  });

</script>
